
<div class="row">
    <div class="col-md-10 mt-3">
        <h2>Perfil de usuario</h2>
    </div>
    <div class="col-md-2 mt-3">
        <button mat-raised-button color="accent" class="float-right">Editar perfil</button>
    </div>
</div>

<div class="row">
    <div class="col-md-3 mt-3">
        <mat-card>

            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-md-9 mt-3">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>Mónica Pérez</mat-card-title>
            </mat-card-title-group>
            
            <mat-card-content>
                <mat-form-field>
                <input matInput placeholder="Input">
                </mat-form-field>
            
                <mat-form-field>
                <textarea matInput placeholder="Textarea"></textarea>
                </mat-form-field>
            
                <mat-form-field>
                <mat-select placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                </mat-select>
                </mat-form-field>
            </mat-card-content>
        
            

        </mat-card>
    </div>
</div>
