<div class="main-div">
  <mat-card class="z-depth center" flex="50">
    <mat-card-title>Eventland</mat-card-title>
    <mat-card-subtitle>Crea tu propio landing page y registro para eventos.</mat-card-subtitle>
    <mat-card-content>
      <div class="row">
        <div *ngIf="show" class="col-md-6 mt-3">
            <button mat-raised-button color="accent" routerLink="/register">Registrarse</button>
        </div>
        <br>
        
        <div *ngIf="show" class="col-md-6 mt-3">
            <button mat-raised-button color="primary"  routerLink="/login">Iniciar sesión</button>
        </div>
        
        <div *ngIf="!show" class="col-md-6 mt-3">
            <button mat-raised-button color="primary"  routerLink="/profile">Ver perfil</button>
        </div>

        <div *ngIf="!show" class="col-md-6 mt-3">
          <button mat-raised-button color="warn"  (click)="logout()">Cerrar sesión</button>
      </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
